<div>
    <h2>{{ product.prodname }}</h2>
    <p><strong>SKU:</strong> {{ product.sku }}</p>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Цена:</strong> {{ product.price }} €</p>
    <p><strong>Вес:</strong> {{ product.weight }} кг</p>
    <p><strong>Категория:</strong> {{ product.category }}</p>
</div>