{% extends 'base.html.twig' %}

{% block title %}Новый товар{% endblock %}

{% block body %}
  <h1>Создание нового товара</h1>

  {{ form_start(form) }}
      {{ form_row(form.prodname) }}
      {{ form_row(form.sku) }}
      {{ form_row(form.description) }}
      {{ form_row(form.price) }}
      {{ form_row(form.weight) }}
      {{ form_row(form.category) }}
      <button class="btn btn-primary">Сохранить</button>
  {{ form_end(form) }}

  <a href="{{ path('app_product') }}" class="btn btn-secondary mt-3">Вернуться к списку товаров</a>
{% endblock %}
